Core/db/*
Core/incremental_db/*
Core/*.summary
Core/DCx.sta.rpt
Core/DCx.asm.rpt
Core/DCx.done
Core/DCx.fit.rpt
Core/DCx.fit.smsg
Core/DCx.flow.rpt
Core/DCx.jdi
Core/DCx.map.rpt
Core/DCx.pin
Core/*.qws
Core/DCx.sld
Core/DCx.sof
Core/c5_pin_model_dump.txt
Core/greybox_tmp/cbx_args.txt
Core/DCx.ipregen.rpt
Core/aldec/
Core/cadence/
Core/mentor/
Core/synopsys/
Core/output_file.jic
Core/output_file.map
Core/DCx.cdf
Core/pll_tx_cyclone4_vga.bsf
Core/pll_tx_cyclone4_vga.ppf
Core/pll_tx_cyclone4_vga_sim.f
Core/DCx.map.smsg
Core/output_files/
Core/DCxPlus.ipregen.rpt
Core/.environment
*.BAK.v
prep/*
notes
docker/dreamcast-hdmi/support/build
docker/dreamcast-hdmi/files/JIC.tgz
*.rbf
.vscode/
*.vvp