FPGA*/db/*
FPGA*/incremental_db/*
FPGA*/*.summary
FPGA*/DCx.sta.rpt
FPGA*/DCx.asm.rpt
FPGA*/DCx.done
FPGA*/DCx.fit.rpt
FPGA*/DCx.fit.smsg
FPGA*/DCx.flow.rpt
FPGA*/DCx.jdi
FPGA*/DCx.map.rpt
FPGA*/DCx.pin
FPGA*/DCx.qws
FPGA*/DCx.sld
FPGA*/DCx.sof
FPGA*/c5_pin_model_dump.txt
FPGA*/greybox_tmp/cbx_args.txt
FPGA*/DCx.ipregen.rpt
FPGA*/aldec/
FPGA*/cadence/
FPGA*/mentor/
FPGA*/synopsys/
FPGA*/output_file.jic
FPGA*/output_file.map
FPGA*/DCx.cdf
FPGA*/pll_tx_cyclone4_vga.bsf
FPGA*/pll_tx_cyclone4_vga.ppf
FPGA*/pll_tx_cyclone4_vga_sim.f
*.BAK.v
FPGA-CycloneIV/db/cmpr_su5.tdf
FPGA-CycloneIV/db/
FPGA-CycloneIV/incremental_db/
prep/*
FPGA-CycloneIV-ADV7513/DCx.map.smsg
FPGA-CycloneIV-ADV7513-Enhanced/output_files/
FPGA-CycloneIV-ADV7513-Enhanced/DCxPlus.ipregen.rpt
notes
