.pioenvs
.piolibdeps
.vscode
.vscode/c_cpp_properties.json
data/etc/password
data/etc/ssid
data/etc/ota_pass
data/etc/http_auth_pass
data/etc/http_auth_user
notes.txt
.vscode/launch.json
.vscode/*.db
misc/test.html
.vscode/.browse.c_cpp.db*
data/esp.index.html.gz
data/esp.index.html.gz.md5
data/changelog
data/firmware.dc
data/firmware.dc.md5
.pio
build
