/*
* style based on http://js13kgames.com/entries/lost-in-cyberspace
*/
body {
    margin: 0;
    background: black;
}
#term {
    height: 100vh;
    --background: #031e11;
    --size: 1.5;
}
/* taken from http://goonhub.com/secret */
#term::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.2);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    /*animation: flicker 0.12s infinite;*/
}
@keyframes flicker {
0% {
    opacity: 0.552;
}
5% {
    opacity: 0.48287;
}
10% {
    opacity: 0.59134;
}
15.0% {
    opacity: 0.79543;
}
20% {
    opacity: 0.75134;
}
25% {
    opacity: 0.1956;
}
30.0% {
    opacity: 0.90687;
}
35% {
    opacity: 0.122;
}
40% {
    opacity: 0.62254;
}
45% {
    opacity: 0.56977;
}
50% {
    opacity: 0.9925;
}
55.0% {
    opacity: 0.55487;
}
60.0% {
    opacity: 0.16607;
}
65% {
    opacity: 0.12353;
}
70% {
    opacity: 0.2214;
}
75% {
    opacity: 0.67908;
}
80% {
    opacity: 0.97163;
}
85.0% {
    opacity: 0.1275;
}
90% {
    opacity: 0.37186;
}
95% {
    opacity: 0.24475;
}
100% {
    opacity: 0.37221;
}
}
/*
* reference: https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-within
*/
.cmd:focus-within .prompt {
    /*color: red;*/
}
.terminal {
    text-shadow: 0 0.2rem 1rem #0c7b46;
}
.terminal a:hover {
    background: #0F60FF;
    color: var(--background, #aaa);
    text-decoration: none;
}
.scanlines {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 50%,
        rgba(0,0,0,.2) 70%,
        rgba(0,0,0,.6)
    );
    background-size: 100% .3rem;
    position: fixed;
    pointer-events: none;
}
/* based on
https://blog.carbonfive.com/2015/01/07/vintage-terminal-effect-in-css3/
*/
.scanlines:before {
position: absolute;
top: 0px;
width: 100%;
height: 5px;
background: #fff;
background: linear-gradient(to bottom,
    rgba(255,0,0,0) 0%,
    rgba(255,250,250,1) 50%,
    rgba(255,255,255,0.98) 51%,
    rgba(255,0,0,0) 100%
); /* W3C */
opacity: .1;
}
.scanlines:after {
box-shadow: 0 2px 6px rgba(25,25,25,0.2),
    inset 0 1px rgba(50,50,50,0.1),
    inset 0 3px rgba(50,50,50,0.05),
    inset 0 3px 8px rgba(64,64,64,0.05),
    inset 0 -5px 10px rgba(25,25,25,0.1);
}

#term:focus-within + .scanlines:before {
content: '';
animation: vline calc(var(--time, 2) * 1s) linear infinite;
}
/*
* MS Edge don't support focus-within and css vars
* inside pseudo selector
*/
@supports (-ms-ime-align:auto) {
    .scanlines:before {
        content: '';
        animation: vline 3s linear infinite;
    }
}
@keyframes vline {
to { transform: translate(0, 100vh)}
}
/* turn off animation */
.tv {
    height: 100vh;
    position: relative;
}
.tv.collapse {
    animation: size 2s ease-out;
    animation-fill-mode: forwards;
}
.tv.collapse:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    z-index: 1;
    opacity: 0;
    animation: opacity 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    to { opacity: 1; }
}
@keyframes size {
    50% {
        transform: scaleX(calc(1 / var(--width)));
        opacity: 1;
    }
    98% {
        transform: scaleX(calc(1 / var(--width))) scaleY(calc(1 / var(--height)));
        opacity: 1;
    }
    100% {
        transform: scaleX(calc(1 / var(--width))) scaleY(calc(1 / var(--height)));
        opacity: 0;
    }  
}        
#fileInput {
    display:none;
}
